<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Skybox_Checkout>
            <version>1.2.9</version>
            <codePool>community</codePool>
        </Skybox_Checkout>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <id_product_skybox>
                    <to_order_item>*</to_order_item>
                </id_product_skybox>
                <price_skybox>
                    <to_order_item>*</to_order_item>
                </price_skybox>
                <customs_skybox>
                    <to_order_item>*</to_order_item>
                </customs_skybox>
                <shipping_skybox>
                    <to_order_item>*</to_order_item>
                </shipping_skybox>
                <insurance_skybox>
                    <to_order_item>*</to_order_item>
                </insurance_skybox>
                <total_skybox>
                    <to_order_item>*</to_order_item>
                </total_skybox>
                <price_usd_skybox>
                    <to_order_item>*</to_order_item>
                </price_usd_skybox>
                <customs_usd_skybox>
                    <to_order_item>*</to_order_item>
                </customs_usd_skybox>
                <shipping_usd_skybox>
                    <to_order_item>*</to_order_item>
                </shipping_usd_skybox>
                <insurance_usd_skybox>
                    <to_order_item>*</to_order_item>
                </insurance_usd_skybox>
                <total_usd_skybox>
                    <to_order_item>*</to_order_item>
                </total_usd_skybox>
                <guid_skybox>
                    <to_order_item>*</to_order_item>
                </guid_skybox>
                <row_total_skybox>
                    <to_order_item>*</to_order_item>
                </row_total_skybox>
                <base_price_skybox>
                    <to_order_item>*</to_order_item>
                </base_price_skybox>
                <base_price_usd_skybox>
                    <to_order_item>*</to_order_item>
                </base_price_usd_skybox>
                <adjust_total_skybox>
                    <to_order_item>*</to_order_item>
                </adjust_total_skybox>
                <adjust_total_usd_skybox>
                    <to_order_item>*</to_order_item>
                </adjust_total_usd_skybox>
                <adjust_label_skybox>
                    <to_order_item>*</to_order_item>
                </adjust_label_skybox>
                <concepts_skybox>
                    <to_order_item>*</to_order_item>
                </concepts_skybox>
                <rmt_skybox>
                    <to_order_item>*</to_order_item>
                </rmt_skybox>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <id_product_skybox>
                    <to_quote_item>*</to_quote_item>
                </id_product_skybox>
            </sales_convert_order_item>
            <sales_convert_quote_address>
                <subtotal_skybox>
                    <to_order>*</to_order>
                </subtotal_skybox>
                <base_subtotal_skybox>
                    <to_order>*</to_order>
                </base_subtotal_skybox>
                <grand_total_skybox>
                    <to_order>*</to_order>
                </grand_total_skybox>
                <base_grand_total_skybox>
                    <to_order>*</to_order>
                </base_grand_total_skybox>
                <customs_total_skybox>
                    <to_order>*</to_order>
                </customs_total_skybox>
                <customs_total_usd_skybox>
                    <to_order>*</to_order>
                </customs_total_usd_skybox>
                <taxes_total_skybox>
                    <to_order>*</to_order>
                </taxes_total_skybox>
                <taxes_total_usd_skybox>
                    <to_order>*</to_order>
                </taxes_total_usd_skybox>
                <handling_total_skybox>
                    <to_order>*</to_order>
                </handling_total_skybox>
                <handling_total_usd_skybox>
                    <to_order>*</to_order>
                </handling_total_usd_skybox>
                <shipping_total_skybox>
                    <to_order>*</to_order>
                </shipping_total_skybox>
                <shipping_total_usd_skybox>
                    <to_order>*</to_order>
                </shipping_total_usd_skybox>
                <insurance_total_skybox>
                    <to_order>*</to_order>
                </insurance_total_skybox>
                <insurance_total_usd_skybox>
                    <to_order>*</to_order>
                </insurance_total_usd_skybox>
                <clearence_total_skybox>
                    <to_order>*</to_order>
                </clearence_total_skybox>
                <clearence_total_usd_skybox>
                    <to_order>*</to_order>
                </clearence_total_usd_skybox>
                <duties_total_skybox>
                    <to_order>*</to_order>
                </duties_total_skybox>
                <duties_total_usd_skybox>
                    <to_order>*</to_order>
                </duties_total_usd_skybox>
                <others_total_skybox>
                    <to_order>*</to_order>
                </others_total_skybox>
                <others_total_usd_skybox>
                    <to_order>*</to_order>
                </others_total_usd_skybox>
                <adjust_total_skybox>
                    <to_order>*</to_order>
                </adjust_total_skybox>
                <adjust_total_usd_skybox>
                    <to_order>*</to_order>
                </adjust_total_usd_skybox>
                <concepts_skybox>
                    <to_order>*</to_order>
                </concepts_skybox>
                <rmt_skybox>
                    <to_order>*</to_order>
                </rmt_skybox>
            </sales_convert_quote_address>
        </fieldsets>
        <models>
            <skyboxcheckout>
                <class>Skybox_Checkout_Model</class>
                <resourceModel>Skybox_Checkout_mysql4</resourceModel>
            </skyboxcheckout>
            <checkout>
                <rewrite>
                    <cart>Skybox_Checkout_Model_Cart</cart>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <quote_item>Skybox_Checkout_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <skyboxcheckout>
                <class>Skybox_Checkout_Block</class>
            </skyboxcheckout>

            <checkout>
                <rewrite>
                    <cart_sidebar>Skybox_Checkout_Block_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>

            <checkout>
                <rewrite>
                    <cart_totals>Skybox_Checkout_Block_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>

            <checkout>
                <rewrite>
                    <onepage_link>Skybox_Checkout_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <links>Skybox_Checkout_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <cart>Skybox_Checkout_Block_Checkout_Cart</cart>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <cart_sidebar>Skybox_Checkout_Block_Checkout_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>

        </blocks>
        <resources>
            <!--skyboxcheckout_setup>
              <setup>
                <module>Skybox_Checkout</module>
              </setup>
              <connection>
                <use>core_setup</use>
              </connection>
            </skyboxcheckout_setup-->
            <skyboxcheckout_setup>
                <setup>
                    <module>Skybox_Checkout</module>
                </setup>
            </skyboxcheckout_setup>
        </resources>
        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>Skybox_Checkout_Model_Observer</class>
                        <method>paymentMethodIsActive</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <!--controller_front_init_routers>
              <observers>
                <Skybox_checkout_model_observer>
                  <type>singleton</type>
                  <class>Skybox_Checkout_Model_Observer</class>
                  <method>InitializeSkybox</method>
                </Skybox_checkout_model_observer>
              </observers>
            </controller_front_init_routers-->
            <!--sales_quote_add_item>
              <observers>
                  <skyboxcheckout_calculate_price_observer>
                      <type>singleton</type>
                      <class>Skybox_Checkout_Model_Observer</class>
                      <method>CalculatePriceQuoteItem</method>
                  </skyboxcheckout_calculate_price_observer>
              </observers>
            </sales_quote_add_item-->
            <!--sales_quote_collect_totals_before>
              <observers>
                  <skyboxcheckout_removetax_observer>
                      <type>singleton</type>
                      <class>Skybox_Checkout_Model_Observer</class>
                      <method>RemoveTax</method>
                  </skyboxcheckout_removetax_observer>
              </observers>
            </sales_quote_collect_totals_before-->
            <sales_quote_collect_totals_before>
              <observers>
                  <frontend_shipping_rates_sales_quote_collect_totals_before>
                      <class>Skybox_Checkout_Model_Observer</class>
                      <method>hideShippingMethod</method>
                  </frontend_shipping_rates_sales_quote_collect_totals_before>
              </observers>
            </sales_quote_collect_totals_before>
        </events>
        <!--rewrite>
          <skybox_checkout_cart>
            <from><![CDATA[#^/checkout/cart/#]]></from>
            <to>/checkout/cart/</to>
          </skybox_checkout_cart>
        </rewrite-->
        <!-- Agregación de nuevos atributos -->
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <id_product_skybox/>
                    </product_attributes>
                </item>
                <totals>
                    <!--subtotal>
                        <class>skyboxcheckout/quote_subtotal</class>
                        <after>discount,shipping</after>
                        <before>tax,grand_total</before>
                    </subtotal-->
                    <checkout_total1>
                        <class>skyboxcheckout/quote_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total1>
                    <checkout_total2>
                        <class>skyboxcheckout/quote_total2</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total2>
                    <checkout_total3>
                        <class>skyboxcheckout/quote_total3</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total3>
                    <checkout_total4>
                        <class>skyboxcheckout/quote_total4</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total4>
                    <checkout_total5>
                        <class>skyboxcheckout/quote_total5</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total5>
                    <checkout_total6>
                        <class>skyboxcheckout/quote_total6</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total6>
                    <checkout_total7>
                        <class>skyboxcheckout/quote_total7</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total7>
                    <checkout_total8>
                        <class>skyboxcheckout/quote_total8</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total8>
                    <!--Eliminar-->
                    <!--<skybox_insurance>
                         <class>skyboxcheckout/total_screen_quote</class>
                         <after>subtotal</after>
                         <before>tax</before>
                     </skybox_insurance>-->
                     <checkout_total_rmt1>
                        <class>skyboxcheckout/quote_address_total_rmt</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </checkout_total_rmt1>
                </totals>
            </quote>
            <!--<order_invoice>-->
                <!--<totals>-->
                    <!--<checkout_total1>-->
                        <!--<class>skyboxcheckout/invoice_total</class>-->
                        <!--<after>subtotal,discount,shipping</after>-->
                        <!--<before>tax,grand_total</before>-->
                    <!--</checkout_total1>-->
                    <!--&lt;!&ndash;Eliminar&ndash;&gt;-->
                    <!--&lt;!&ndash;<skybox_insurance>-->
                        <!--<class>skyboxcheckout/total_screen_invoice</class>-->
                        <!--<after>subtotal</after>-->
                        <!--<before>tax</before>-->
                    <!--</skybox_insurance>&ndash;&gt;-->
                <!--</totals>-->
            <!--</order_invoice>         -->
            <!--<order_creditmemo>-->
                <!--<totals>-->
                    <!--<checkout_total1>-->
                        <!--<class>skyboxcheckout/creditmemo_total</class>-->
                        <!--<after>subtotal,discount,shipping</after>-->
                        <!--<before>tax,grand_total</before>-->
                    <!--</checkout_total1>-->
                    <!--&lt;!&ndash;Eliminar&ndash;&gt;-->
                    <!--&lt;!&ndash;<skybox_insurance>-->
                        <!--<class>skyboxcheckout/total_screen_creditmemo</class>-->
                        <!--<after>subtotal</after>-->
                        <!--<before>tax</before>-->
                    <!--</skybox_insurance>&ndash;&gt;-->
                <!--</totals>-->
            <!--</order_creditmemo>-->
        </sales>
        <!--routers>
          <checkout>
            <rewrite>
              <onepage>
                <to>Skybox_Checkout</to>
              </onepage>
            </rewrite>
          </checkout>
        </routers-->
        <!--rewrite>
          <skyboxcheckout_for_checkout>
            <from><![CDATA[#^/checkout/onepage/#]]></from>
            <to>/skbcheckout/international/</to>
          </skyboxcheckout_for_checkout>
        </rewrite-->
        <helpers>
            <checkout>
                <rewrite>
                    <data>Skybox_Checkout_Helper_Data</data>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <url>Skybox_Checkout_Helper_Url</url>
                </rewrite>
            </checkout>
            <!--<skyboxcheckout_pay>-->
                <!--<class>Skybox_Checkout_Helper</class>-->
            <!--</skyboxcheckout_pay>-->
        </helpers>

    </global>
    <frontend>
        <routers>
            <skyboxcheckout>
                <use>standard</use>
                <args>
                    <module>Skybox_Checkout</module>
                    <frontName>skbcheckout</frontName>
                </args>
            </skyboxcheckout>
            <!--checkout>
                <args>
                    <modules>
                        <Skybox_Checkout before="Mage_Checkout">Skybox_Checkout</Skybox_Checkout>
                    </modules>
                </args>
            </checkout-->
        </routers>
        <!--events>
          <controller_front_init_routers>
            <observers>
              <Skybox_checkout_model_observer>
                <type>singleton</type>
                <class>Skybox_Checkout_Model_Observer</class>
                <method>InitializeSkybox</method>
              </Skybox_checkout_model_observer>
            </observers>
          </controller_front_init_routers>
        </events-->
        <translate/>
        <layout>
            <updates>
                <skyboxcheckout>
                    <file>skyboxcheckout.xml</file>
                </skyboxcheckout>
            </updates>
        </layout>
        <events>
            <!-- -->
            <sales_quote_collect_totals_after>
                <observers>
                    <set_skybox_subtotals>
                        <class>skyboxcheckout/observer</class>
                        <method>changeQuoteAddressSkybox</method>
                    </set_skybox_subtotals>
                </observers>
            </sales_quote_collect_totals_after>
            <!-- -->
        </events>
    </frontend>
    <default>
        <carriers>
            <skyboxcheckout_shipping>
                <active>1</active>
                <model>skyboxcheckout/carrier</model>
                <title>SkyboxCheckout Method</title>
                <price>0</price>
                <!--<sort_order>10</sort_order>-->
                <!--<sallowspecific>0</sallowspecific>-->
            </skyboxcheckout_shipping>
        </carriers>
        <payment>
            <skyboxcheckout_pay>
                <model>skyboxcheckout/pay</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Skybox Payment</title>
                <!--<payment_action>sale</payment_action>-->
                <!--<allowspecific>0</allowspecific>-->
                <!--<sort_order>1</sort_order>-->
            </skyboxcheckout_pay>
        </payment>
        <config_vars/>
        <!--Eliminar-->
         <!--<sales>
            <totals_sort>
                <skybox_insurance>0</skybox_insurance>
            </totals_sort>
        </sales>-->
        <!--<sales>
            <totals_sort>
                <checkout_insurance>15</checkout_insurance>
            </totals_sort>
        </sales>-->
    </default>
</config>
