<config>
	<modules>
		<Skybox_International>
			<version>1.2.4</version>
			<codePool>community</codePool>
		</Skybox_International>
	</modules>
	<global>
		<models>
			<skyboxinternational>
				<class>Skybox_International_Model</class>
			</skyboxinternational>
		</models>
		<helpers>
			<skyboxinternational>
				<class>Skybox_International_Helper</class>
			</skyboxinternational>
		</helpers>
		<resources>
			<skyboxinternational_setup>
				<setup>
					<module>Skybox_International</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</skyboxinternational_setup>
		</resources>
	</global>
	<admin>
        <routers>
            <skyboxinternational>
                <use>admin</use>
                <args>
                    <module>Skybox_International</module>
                    <frontName>skyboxinternational</frontName>
                </args>
            </skyboxinternational>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <skyboxinternational>
                    <file>skyboxinternational.xml</file>
                </skyboxinternational>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <skyboxinternational>
            <skyboxsettings>
                <!--host><![CDATA[localhost]]></host-->
                <skyboxactive>0</skyboxactive>
            </skyboxsettings>
			<skyboxproduct>
                <skyboxaddtaxtopriceenable>0</skyboxaddtaxtopriceenable>
            </skyboxproduct>
        </skyboxinternational>
    </default>
</config>
