.alphacube_nw
{
    background: none;
}

.alphacube_n
{
    background: none;
}

.alphacube_ne
{
    background: none;
}

.alphacube_w
{
    background: none;
}

.alphacube_e
{
    background: none;
}

.alphacube_sw
{
    background: none;
}

.alphacube_s
{
    background: none;
}

.alphacube_se
{
    background: none;
}


.alphacube_sizer
{
    background: none;
}

.overlay_alphacube
{
    opacity: .5;
    background-color: #000;

    filter: alpha(opacity=50);
    -moz-opacity: .5;
}

.alphacube_close
{
    top: 40px;
    right: 20px;

    /*background: transparent url(alphacube/button-close-focus.gif) no-repeat 0 0;*/
}

/******************/

#selectLocation.dialog
{
    left: 5%;
    width: 90%;
}

#selectLocation.dialog iframe
{
    width: 100%;
    min-height: 640px;
}

@media only screen and (max-width: 1024px) {
    #selectLocation.dialog
    {
        left: 25%;
        width: 50%;
    }
}

/** cart */
.cart .cart-totals table tfoot td {
    min-width: 180px;
    max-width: 180px;
}

/* SelecLocation Iframe */
#selectLocation iframe {
    width: 1px;
    min-width: 100%;
    *width: 100%;
}

#selectLocation.dialog, #initSession.dialog {
    background: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#iframe_skybox_checkout {
    width: 100%;
}
/* SelecLocation Iframe */

.fancybox-mobile{
    position: fixed !important;
    top: 20px !important;
}